@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: center;*/
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 79px;
  font-weight: 900;
  font-style: italic;
  color: #000;
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.tag {
  background-color: #000;
  color: #fff;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 16px;
  font-weight: 900;
  display: inline-block;

}

.tag.highlight {
  background-color: #FF00A7;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}